<style media="screen">
  .img-thumbnail {
      padding: .25rem;
      background-color: #fff;
      border: 1px solid #dee2e6;
      border-radius: .25rem;
      max-width: 100%;
      height: auto;
  }

  .social-link {
      width: 30px;
      height: 30px;
      border: 1px solid #ddd;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #666;
      border-radius: 50%;
      transition: all 0.3s;
      font-size: 0.9rem;
}
</style>

<div class="container py-5">
    <div class="row text-center">
      <!-- item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://lh3.googleusercontent.com/-EayHV_hIyNyBjVo-4Ris0y7wix6VC4aq_58N9YIqheErr-uFK7GmWZnzbQUJJG5lSCGxvVGVNmXYFy57aTGZ_68zg=w128-h128-e365-rj-sc0x00ffffff" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Youtube</h5><span class="small text-uppercase text-muted">Youtube bot</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-file-text-o" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->
      <!-- item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://www.inspire-writer.com/blog/wp-content/uploads/2019/03/noframe_256.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Blog</h5><span class="small text-uppercase text-muted">post something</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-file-text-o" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->
      <!-- item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_mTiwHrInQ8XUgJYjcbcj2qJTE3ucIsdn_Z-2l-uq_sja8piunZ7FwW-7rMGwMuQKoFo&usqp=CAU" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Monitor</h5><span class="small text-uppercase text-muted">manage container</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-file-text-o" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->
      <!-- item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://www.cibc.com/content/dam/global-assets/icons/illustrative/grey-circle/users/add-a-contact-256x256.svg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Create account</h5><span class="small text-uppercase text-muted">make some accounts</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-file-text-o" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://raw.githubusercontent.com/browserless/chrome/master/assets/browserless_logo_screen_gradient.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Broserless.io</h5><span class="small text-uppercase text-muted">Web browser automation</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-file-text-o" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
